{% extends 'base.html.twig' %}

{% block title %}Smile{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('main') }}
{% endblock %}

{% block body %}
<div class="main-page container">
    <div class="infos">
        <div class="row flex-column justify-content-center align-items-center">
            <div class="neu-avatar-box">
                <img class="avatar" src="{{ infos.avatar }}" alt="Avatar {{ infos.username }}">
            </div>
            <p class="level-box text-center">
                Niveau {{ infos.level }}<br />
                <span class="small">{{ infos.experience }} exp</span>
            </p>
        </div>
        <div class="row flex-column text-center">
            <h2>{{ infos.username }}</h2>
            <p class="info-email">{{ infos.email }}</p>
        </div>

    </div>
</div>
{% endblock %}
