{% extends 'base.html.twig' %}

{% block title %}Mes Objectifs{% endblock %}

{% block body %}
    <h2>Mes Objectifs</h2>
    <section class="module mb-2">
        <small class="">Tout voir</small>
        <h3>En cours</h3>
{% for goal in goals %}
    <div class="card mb-2 text-center {{ goal.section.name }}">
            <strong class="card-title"><i class="mr-2 {{ goal.section.icon }}"></i>{{ goal.section.name }}</strong>
            <p class="card-subtitle mb-2">{{ goal.goal }}</p>
        <div> <i class="far fa-grin"></i></div>
    </div>
        {% endfor %}
    </section>
    <section class="module">
        <h3>Définir d'autres objectifs</h3>
        {% for goalSection in goalSectionRepository %}
        <div class="card mb-2 text-center {{ goalSection.name }}">
            {{ goalSection.name }}
        </div>
        {% endfor %}
        <div class="card mb-2 text-center">
            Créer son objectif
        </div>
    </section>
{% endblock %}