{% extends 'base.html.twig' %}

{% block title %}Mes Objectifs{% endblock %}

{% block body %}
    <main class="container-fluid mb-2">
    <h2>Mes Objectifs</h2>
    <section class="module mb-2">
        <h3>En cours</h3>
        {% for goal in userGoals.goals %}
    <div class="card mb-2 text-center {{ goal.section.name }}">
            <strong class="card-title"><i class="mr-2 {{ goal.section.icon }}"></i>{{ goal.section.name }}</strong>
            <p class="card-subtitle mb-2">{{ goal.name }}</p>
        <div> <i class="far fa-grin"></i></div>
    </div>
        {% endfor %}
    </section>
    <section class="module">
        <h3>Définir d'autres objectifs</h3>
        {% for goalSection in goalSectionRepository %}
        <div class="card mb-2 text-center {{ goalSection.name }}">
            <strong><i class="mr-2 {{ goalSection.icon }}"></i>{{ goalSection.name }}</strong>
            <ul>
                {% for goal in goalSection.goals %}
                    <div><a href="{{ path("goal_set", {'id': goal.id}) }}">{{ goal.name }}</a></div>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
        <div class="card mb-2 text-center">
            <a href=""><i class="fas fa-plus"></i></a>
        </div>
    </section>
    </main>
{% endblock %}