{% extends 'base.html.twig' %}

{% block title %}Goal{% endblock %}
        {% block stylesheets %}
            {{ parent() }}
            {{ encore_entry_link_tags('goal') }}
        {% endblock %}
{% block body %}
<main class="container-fluid mb-2">
    <div class="return"><a href="{{ path('goal_index') }}"><i class="fas fa-arrow-left"></i></a></div>
    <h2>Mes Objectifs</h2>
    <section class="module mb-2">
        <div class="goalNow mb-2 text-center {{ goal.section.name }}">
            <i class="left {{ goal.section.icon }}"></i>
            <a class="mb-1 middle" href="{{ path('goal_show', {'id': goal.id}) }}">
                <p>
                    {{ goal.name }}
                </p>

            </a>
            <a class="right">
                <i class="far fa-grin"></i>
            </a>
        </div>
    </section>
    <section class="module mb-2">
        <div class="row text-center">
            <a href="{{ path('goal_edit', {'id': goal.id}) }}" class="col btn bg-info"><i class="far fa-edit"></i><p>Modifier</p></a>
            <a href="{{ path('goal_remove', {'id': goal.id}) }}" class="col btn bg-warning"><i class="far fa-calendar-times"></i><p>Retirer</p></a>
            {% if goal.creator.id is defined and goal.creator.id == userGoals.id %}
            <a href="{{ path('goal_delete', {'id': goal.id}) }}" class="col btn bg-danger"><i class="far fa-trash-alt"></i><p>Supprimer</p></a>
            {% endif %}
        </div>
    </section>
</main>
{% endblock %}
