{% extends 'base.html.twig' %}

{% block title %}Modifier l'objectif{% endblock %}
        {% block stylesheets %}
            {{ parent() }}
            {{ encore_entry_link_tags('goal') }}
        {% endblock %}
{% block body %}
    <section class="container goalShow">
        <div class="return"><a href="{{ path('goal_index') }}"><i class="fas fa-arrow-left"></i></a></div>
        <h2>Objectif</h2>
        <div class="module">
            <div class="goalNow mb-2 text-center {{ goal.section.name }}">
                <i class="left {{ goal.section.icon }}"></i>
                <a class="mb-1 middle">
                    <p>
                        {{ goal.name }}
                    </p>

                </a>
                <a class="right">
                    <i class="far fa-grin"></i>
                </a>
            </div>
            <div class="module row text-center">
                <a class="btn col bg-primary">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Modifier
                </a>
                <a href="{{ path('goal_remove', {'id': goal.id }) }}" class="btn col bg-secondary">
                    <i class="fas fa-calendar-times"></i>Retirer
                </a>
                <a class="btn col bg-danger">
                    <i class="far fa-trash-alt"></i>Supprimer
                </a>
            </div>
        </div>
    </section>
{% endblock %}
