{% extends 'base.html.twig' %}

{% block title %}Modifier mes infos{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}
    <section class="login container">
        <div class="return"><a href="{{ path('main') }}"><i class="fas fa-arrow-left"></i></a></div>
        <div>
            {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}

            <h1>Modifier mes infos</h1>

            <div class="module mb-4">
                {{ include('user/_form.html.twig', {'button_label': 'Enregistrer'}) }}
                <a class="btn btn-info mt-2" href="{{ path('main') }}">Modifier mes centres d'intérêt</a>
            </div>
        </div>
    </section>
{% endblock %}
